<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> <html>
<head>
  <META http- equiv="Content-Type" content="text/html; charset=utf-8">
    <title>eldia.com - Diario matutino de la ciudad de La Plata</title>
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
  </head>
  <body bgcolor="#ffffff" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" width="100%" class="pid10533073">
  
    <section id="contenedor" class="tamano1">
      <section id="opinion">
        <span class="techo">Mi DIA</span>
        <a href="#" class="floatFix">
          <img src="/img/perso.png" style="max-width:72px;" alt="Peleados con el mundo" title="Peleados con el mundo">
          <div>
          <h1>Mi perfil</h1>
          <span style="text-decoration:underline;">Nombre</span>
          <span style="text-decoration:underline;">my@email.com</span>
          </div>
        </a>
        <a href="#" class="floatFix">
          <img src="/img/15-tags.png" alt="Cupones" title="Cupones">
          <div>
            <h1>Mis cupones</h1>
            <span style="text-decoration:underline;">20% de descuento en Giúdice</span>
          </div>
        </a>
        <a href="#" class="floatFix">
          <img src="/img/favs.png" alt="Notas a leer" title="Notas a leer">
          <div>
            <h1>Notas para leer</h1>
            <span style="text-decoration:underline;">YPF nacionalizada</span>
            <span style="text-decoration:underline;">River a un paso de ascender</span>
          </div>
        </a>
      </section>
    </section>
  </body>
</html>