<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Castellanos copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Castellanos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>LaReforma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>ElDia2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pregon copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7841644717CE203100F9B5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E38A7317D10530000E95D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE87650617D4FA5E00D282AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE87663A17D4FAC600D282AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8A02D117CFF1600088ECED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8E727515EBEDB8007E6F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8E729015EBEDB9007E6F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
